header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#footer {
    color: white;   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0%;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
}

body {
    background-image: url(https://images.unsplash.com/photo-1513407030348-c983a97b98d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2972&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

  .centertext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 23px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
